.topo {
  width: 100%;
  height: 100px;
  background-color: white;
}

.imgLogo {
  width: 125px;
  height: 100px;
}

.titulo {
  display: inline;
  margin-right: 40%;
  margin-top: 30px;
  float: right;
}

.menu ul {
  margin: 0px;
  padding: 0px;
  background-color: #54e856;
  list-style: none;
  text-align: center;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  padding: 2px 10px;
  display: inline-block;
  background-color: #54e856;
  vertical-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-top: 3px;
  font-size: 15px;
  border-bottom: 3px solid #54e856;
}

.menu ul li a:hover {
  background-color: #30ac31;
  color: #ffffff;
  border-bottom: 3px solid #30ac31;
}

.conteudo {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  margin-top: 160px;
  margin-bottom: 30px;
  padding-right: 5px;
  padding-left: 5px;
  text-align: left;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #20202057;
  height: 20px;
}

.footerContent {
  margin-top: 2px;
}

.descricaoPontosDeColeta {
  font-size: 30px;
  text-align: center;
}

.topoStatic {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
}

.totalContainerText{
  background-color:  rgba(84, 232, 86, 0.486);
  margin-block-end: 50px
}

.totalContainerText:hover{
  transform: scale(1.1);
  background-color:  #54E856;
}

.line {
  width: 100%;
  height: 300px !important;
}

.person {
  width: 22%;
  padding-right: 15px
}

.conteudoSobreNos {
  margin-top: 140px;
  width: 90%;
  margin-left: 5%;
}

.flip-box {
  margin-top: 20px;
  background-color: transparent;
  height: 300px;
  border: 1px solid #f1f1f1;

   /* Tirar caso não queira o efeito 3d */
  perspective: 1000px; 
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-back {
  background-color: rgba(153, 153, 153, 0.418);
  color: black;
  transform: rotateY(180deg);
}

.coletaSeletivaText {
  width: 60%
}

h2 {
  color: #059205
}

th {
  height: 35px;
  font-size: 20px;
  width: 200px;
  border: 1px solid black
}

td {
  width: 200px;
  border: 1px solid grey;
  height: 28px;
}