.person {
  width: 150px;
  padding-right: 15px;
  text-align: center;
  font-size: 18px
}

.textDescriptionTotal {
  display: flex;
  text-align: justify;
  width: 100%;
}

.textDivision1 {
  display: flex;
  width: 100%;
}

.informacoes {
  margin-top: 20px;
  margin-left: 80px;
  height: 180px;
  background-color: rgba(233, 231, 231, 0.493)
}

.informacoesTitles {
  color: #006600;
}

.conteudoSobreNos {
  margin-top: 140px;
  width: 85%;
  margin-left: 5%;
}

.flip-box {
  margin-bottom: 8px;
  background-color: transparent;
  height: 200px;
  border: 1px solid #f1f1f1;
  width: 150px;

  /* Tirar caso não queira o efeito 3d */
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 150px;
  height: 200px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 150px;
  height: 200px;
  backface-visibility: hidden;
}

.flip-box-back {
  background-color: rgba(153, 153, 153, 0.418);
  color: black;
  transform: rotateY(180deg);
}

.descriptionPeople {
  margin-top: 30px;
}
